{% extends 'base.html.twig' %}

{% block title %}list of categories{% endblock %}
{% block head %} {% endblock %}
{% block body %}
    <div class="container">
        <div Class="row justify-content-center">
            <h1>list of categories</h1>
            <table Class="table">
                <thead>
                <tr>
                    <th> Id </th>
                    <th> name </th>

                </tr>
                </thead>
                {% for cat in categories  %}
                    <tr>
                        <td>{{ cat.id }} </td>
                        <td>{{ cat.name|upper }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}