{% extends 'base.html.twig' %}

{% block title %}Create Card{% endblock %}

{% block body %}
    <h3 style="text-align: center">Creation d'une catégorie chacal</h3>
    {{ form_start(form, {'action': path(app.request.attributes.get('_route')), 'method': 'POST'}) }}
    {{ form_end(form) }}
{% endblock %}

