{% block body %}
<main role="main" class="container">

    <div class="starter-template" style="margin-top:100px; text-align:center">
        <h1></h1>
    </div>
    {{ form_start(form, {'action': path(app.request.attributes.get('_route')), 'method': 'POST', 'enctype':'multipart/form-data'}) }}
    {{ form_end(form) }}

</main>
{% endblock %}

